<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Montserrat:400,700" rel="stylesheet">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <style>
    body {
      background-color: #205e5d;
    }
    ul {
      list-style: none;
    }
  </style>
</head>

<body>
  <div id="app" class="main">
    <div class="wrap">
      <div class="section section__logo-section">
        <span data-bg="logo" class="logo from-top" alt="Visa to the moon"></span>
      </div>
      <section class="section section__content-section">
        <span data-bg="bgImage" class="bg-image from-transparent"></span>
        <div class="content">
          <div class="content__column info">
            <article class="content__article">
              <header class="info__title from-left">
                <span data-bg="imageRocket" class="info__title-bg"></span>
                <h1 id="title"></h1>
              </header>
              <div class="tagline from-right">
                <div class="tagline__wrap">
                  <span data-bg="iconTrip" class="tagline__icon-trip"></span>
                  <p id="subtitle"></p>
                </div>
                <div id="hash" class="tagline__hashtags"></div>
              </div>
            </article>
          </div>
          <div class="content__column slider">
            <div class="slider__wrap">
              <div class="slider__loader">
                <span id="loader" class="slider__loader-bg loader"></span>
              </div>
              <ul class="slider__control">
                <li class="slider__button-wrap">
                  <a id="linkprev" href="#" class="slider__button"></a>
                </li>
                <li class="slider__button-wrap">
                  <a id="easeView" href="#" class="slider__button"></a>
                </li>
                <li class="slider__button-wrap">
                  <a id="linknext" href="#" class="slider__button"></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content__column decoration">
            <span data-bg="imageRocket" class="decoration__bg from-right"></span>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>

</html>