.content {
  display: flex;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $secondary-color;
  &__column {
    position: relative;
    width: 33.333%;
  }
}

.info {
  height: $top-tile-height;
  background-color: rgba(#1a5651, .3);
  &__title {
    position: absolute;
    bottom: 7px;
    right: 16px;
    width: 376px;
    h1 {
      margin-bottom: 0;
    }
  }
  &__title-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 250%;
    background-position: 35% 0%;
  }
}

.tagline {
  margin: 135px auto 0 30px;
  max-width: 234px;
  &__wrap {
    position: relative;
    font-weight: bold;
  }
  &__icon-trip,
  &__wrap:after {
    display: block;
    content: '';
    position: absolute;
  }
  &__icon-trip {
    width: 94px;
    height: 93px;
    top: -97px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__wrap:after {
    width: 88px;
    height: 3px;
    top: auto;
    bottom: -7px;
    background-color: #00bd9d;
    opacity: 0.8;
  } 
  &__hashtags {
    font-size: 17px;
    line-height: 1.4;
    font-style: italic;
  }
}

.decoration__bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: $top-tile-height;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 71% 0;
}