html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $serif-font-family;
  font-size: 23px;
  color: $body-text-color;
  background-color: $primary-color;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, p {
  margin-top: 0;
  margin-bottom: .8em;
}

h1 {
  font-size: 4.6rem;
  font-family: $sans-font-family;
  line-height: .85;
}

a,
a:hover {
  text-decoration: none;
}

a {
  color: $primary-soft-color;
  &:hover {
    color: #fff;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.wrap {
  display: flex;
  width: 100%;
  height: $container-height;
  max-width: $container-width;
  margin: auto;
}