@media (max-width: 812px) {
  .main,
  .wrap {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    height: 100%;
  }
  .main {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .section {
    &__logo-section {
      width: 100%;
      height: 151px;
      z-index: 2;
      &:before {
        width: 100%;
        height: 100%;
        background-size: 150%;
        background-position: 100%;
      }
      .logo {
        position: relative;
        top: 83px;
        margin: auto;
        width: 138px;
        height: 137px;  
      }
    }
    &__content-section {
      width: 100%;
      .bg-image {
        background-position: 22% 50%;
      }
    }
  }

  .info {
    position: relative;
    height: 872px;
    &__title {
      position: relative;
      height: auto;
      width: 100%;
      bottom: auto;
      right: auto;
      top: 0;
      left: 0;
      padding: 242px 36px 44px;
      h1 {
        font-size: 50px;
        max-width: 260px;
      }
    }
    &__title-bg {
      display: block;
    }
  }

  .tagline {
    max-width: none;
    margin: 280px 20px 0;
    &__wrap {
      &:after {
        width: 112px;
        height: 4px;
        bottom: -9px;
      }
      p {
        font-size: 28px;
      }
    }
    &__icon-trip {
      top: -123px;
      width: 120px;
      height: 119px;
    }
    &__hashtags {
      font-size: 20px;
      margin-top: 25px;
    }
  }

  .slider {
    display: none;
  }

  .decoration {
    display: none;
  }

  .content {
    width: 100%;
    height: 1170px;
    flex-direction: column;
    flex-wrap: wrap;
    &__column {
      width: 100%;
    }
  }
}