.section {
  position: relative;
  &__logo-section {
    width: 25%;
    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 720px;
      height: 100%;
      background-image: url('../images/rock.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__content-section {
    width: 75%;
  }
}

.logo {
  display: block;
  width: 192px;
  height: 191px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 50px 35px 0 auto;
}

.bg-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $secondary-color;
}