.slider {
  &__wrap,
  &__loader,
  &__loader-bg,
  &__control {
    display: block;
  }
  &__wrap {
    position: relative;
    bottom: -$top-tile-height;
    height: 39%;
    width: 100%;
    background-color: $secondary-color;
  }
  &__loader {
    position: relative;
    top: 29.52%;
    width: 174px;
    height: 2px;
    margin: auto;
    background: #ffffff;
  }
  &__loader-bg {
    position: absolute;
    height: 100%;
    background: #17d8ae;
  }
  &__control {
    position: relative;
    top: 76%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }
  &__button-wrap {
    display: inline-block;
    padding: 5px;
  }
  &__button {
    position: relative;
    font-size: 17px;
    font-weight: bold;
    transition: $transition-default;
    &:after {
      display: block;
      content:'';
      position: absolute;
      bottom: -4px;
      width: 100%;
      height: 2px;
      background: transparent;
      transition: $transition-default;
    }
    &:hover {
      &:after {
        background: #fff;
      }
    }
  }
}