/**
 * Slider transitions
 */

.from-left,
.from-right,
.from-top,
.from-left,
.from-transparent {
  opacity: 0;
}

.from-left {
  transform: translateX(-100px);
}

.from-right {
  transform: translateX(100px);
}

.from-top {
  transform: translateY(-100px);
}

.from-bottom {
  transform: translateY(100px);
}

.loader {
  width: 0%;
  &.with-transition {
    transition: width 5.5s linear;
  }
  &.full {
    width: 100%;
  }
}

#app {
  &.show {
    .from-left,
    .from-right,
    .from-top,
    .from-left,
    .from-transparent {
      opacity: 1;
      transform: translateY(0) translateX(0);
    }
  }
  &.with-transition {
    .from-left,
    .from-right,
    .from-top,
    .from-left,
    .from-transparent {
      transition: all 1000ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    }
  }
}