$serif-font-family: 'Merriweather', serif;
$sans-font-family: 'Montserrat', sans-serif;
$primary-color: #205e5d;
$primary-soft-color: #00bd9d;
$secondary-color: #252839;
$body-text-color: #ffffff;
$container-width: 1140px;
$container-height: 590px;
$top-tile-height: 420px;
$transition-default: all .2s ease-out;